@font-face {
    font-family: "Univia Pro Light";
    src: url("../fonts/UniviaPro-Light.otf");
}
@font-face {
    font-family: "Univia pro bold";
    src: url("../fonts/UniviaPro-Bold.otf");
}
@font-face {
    font-family: "Univia Pro Book";
    src: url("../fonts/UniviaPro-Book.otf");
}